# For name generator
faker==14.2.1


# [code_style]-[BEGIN]
# Pre-commit hook.
pre-commit==2.20.0
# Upgrade syntax.
pyupgrade==2.38.0
# Formatter. Apply codestyle.
black==22.8.0
# Check codestyle
flake8==5.0.4
# [code_style]-[END]
Flask~=2.1.1
webargs~=8.2.0